.mainbody textentry {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.mainbody edit {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mainbody delete {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mainbody changer {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7d7d7d;
    float: right;
    opacity: 1;
    font-size: 20px;
    color: white;
}

.mainbody changer:hover {
    cursor: pointer;
    background-color: #505050;
}

.mainbody back {
    float: right;
    opacity: 1;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fc5732;
    color: white;
}

.entry back:hover {
    cursor: pointer;
    background-color: #e60000;
}